<%= simple_form_for [@parent, @child, @bowel_movement], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :child_id, :as => :hidden, :input_html => {:value => params[:child_id]} %>
  
  <%= f.input :bowel_time, :wrapper => :append do %>
    <%= f.text_field :bowel_time, :class => 'datetimepicker' %>
	<%= content_tag :span, raw('<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>'), class: "add-on" %>	    
  <% end %>

  <%= f.input :consistency, :as => :select, :collection => BowelMovement::CONSISTENCY_TYPES, :include_blank => false %>
  <%= f.input :color, :as => :select, :collection => BowelMovement::COLOR_TYPES, :include_blank => false  %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                user_child_bowel_movements_path(@parent, @child), :class => 'btn' %>
  </div>
<% end %>
<%= content_for :bottom_stylesheets do %>
<%= stylesheet_link_tag "bootstrap-datetimepicker" %>
<% end %>
<%= content_for :bottom_javascripts do %>
    <%= javascript_include_tag "bootstrap-datetimepicker" %>
	<script  type="text/javascript" charset="utf-8" async defer>
	  jQuery(document).ready(function(){
		$( ".datetimepicker" ).each(function( index ) {
		  var parent_div = $(this).parent();
		  var div_id = "datetimepicker_" + index;
		  $(parent_div).attr("id", div_id);
		  $("#" + div_id).datetimepicker({
			language: 'en',
			format: 'yyyy-MM-dd HH:MM'
		  });
		});
	});
	</script>
<% end %>